@model Domain.ValueGrouping.IValueGrouping
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="POST">
        <label for="pointGrouping">Period</label>
        <select id="pointGrouping" name="pointGrouping">
            <option value="byMonth">By month</option>
            <option value="byWeek">By week</option>
        </select><br/>
        
        <label for="valueGrouping">Value</label>
        <select id="valueGrouping" name="valueGrouping">
            <option value="totalValue">Total value</option>
            <option value="averageValue">Average value</option>
        </select>
        <input type="submit" />
    </form>
    
    <div id="container"></div>
</div>

@section Scripts
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
    <script>
        const input = JSON.parse('@Html.Raw(Model.Chart().ToString())');
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: input.title
            },
            xAxis: {
                categories: input.pointCategories
            },
            yAxis: {
                title: {
                    text: 'Value'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: input.chartLines
        });
    </script>
}